div.mydiv {
    color: white;
    width: auto;
    height: auto;
    top: 50%;
    display: flex;
    align-items: center;
    top: 50px;
}

section {
    background: rgba(13, 9, 34, 0.9);
    border-radius: 10px;
    padding: 20px 0;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-left: 20px;
    padding: 15px 20px 15px 0;
}

.input-text {
    width: 450px;
    height: 30px;
}

body {
    background-image: url(img/imagem.jpg);
    background-color: rgba(83, 77, 168, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#input-submit {
    width: 457px;
    height: 30px;
    background-color: rgb(88, 175, 88);
}

#comentario {
    height: 100px;
}
#obrigatorio{
    font-size: 12px;
    color: #888aa1;
}